<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="icon" type="image/png" href="<%= image_path('small-logo.png') %>" />


  <%=og_title("愛禮物 - 送出一份心意給遠方的她/他")%>
  <meta property="og:type" content="article" /> 
  <%=og_url(root_url)%>
  <%=og_image(image_url('fb_share.png'))%>
  <%#=og_image("http://placehold.it/300X300&text=No%20Pic")%>
  <%=og_site_name("愛禮物 - 代客送禮")%>
  <%=og_description("一份動人的心意，愛禮物協助您送給遠方的她/他：）")%>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <!-- <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  
  <%= csrf_meta_tags %>
</head>

<body id="page-top" class="index">

  <%= yield %>


  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
</body>

</html>
